@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@font-face {
    font-family: Arial Narrow;
    /* Гарнитура шрифта */
    src: url(../fonts/ARIALN.TTF);
    /* Путь к файлу со шрифтом */
}

body {
    font-family: Poppins, sans-serif;
    background-color: #f7f7f7;
}

.logo-line {
    height: 83px;
    background-color: #000000;
    opacity: 0.7;
    margin-top: 12px;
    padding-top: 19px;
    padding-bottom: 18px;
}

.logo p:first-child {
    color: #ffffff;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 29px;
    text-align: left;
    letter-spacing: 0.77px;
    margin-bottom: 5px;
}

.logo p:last-child {
    color: #ffffff;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 32px;
}

.phone-email {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22.36px;
    text-align: left;
    margin-bottom: 30px;
}

.phone-email img {
    margin-right: 14px;
}

.search input {
    background-color: transparent;
    border: 1px solid #fff;
    color: #ffffff;
    height: 38px;
    width: 157px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    float: left;
}

.search a {
    display: inline-block;
    width: 50px;
    height: 38px;
    line-height: 38;
    border: 1px solid #fff;
    border-left: none;
    text-align: center;
    float: left;
}

.menu {
    margin: 0 auto;
    height: 78px;
    border-bottom: 1px solid #000;
}

.menu-item {
    list-style-type: none;
    float: left;
}

.menu-link {
    text-decoration: none;
    color: #8c8c8c;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 400;
    line-height: 77px;
    text-align: center;
    display: block;
}

.menu-link:hover {
    color: #000000;
    text-decoration: none;
}

.menu-item.active {
    border-bottom: 3px solid #000;
}

.menu-item.active a {
    color: #000000;
    font-style: normal;
    letter-spacing: 0.34px;
}

h1 {
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
    margin-top: 175px;
}

.gallery-item {
    margin: 103px 0px;
}

.gallery-item-name {
    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 19px;
}

.gallery-item-button {
    display: block;
    width: 130px;
    height: 30px;
    background-color: #f44336;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    margin: 30px auto 3px;
}

.gallery-list-more-button {
    border: 1px solid #000;
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 38px;
    text-align: center;
    display: block;
    width: 208px;
    height: 38px;
    margin: 93px auto 174px;
}

.discount-list {
    min-width: 1920px;
    margin: 0px auto 174px;
}

.discount-item {
    width: 960px;
    height: 562px;
    padding: 152px 522px 153px 112px;
}

.discount-item:nth-child(1) {
    background-image: url(../img/callofduty3.jpg);
}

.discount-item:nth-child(2) {
    background-image: url(../img/medalofhonor.jpg);
}

.discount-tag {
    color: #010101;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 14px;
    text-align: left;
    text-transform: uppercase;
}

.discount-item-name {
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
}

.discount-item-price span {
    color: #8c8c8c;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
}

.discount-item-price span span {
    text-decoration: line-through;
}

.discount-item-price {
    color: #000000;
    font-size: 36px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 56px;
}

.discount-item-button {
    display: inline-block;
    width: 265px;
    height: 62px;
    text-decoration: none;
    background-color: #f44336;
    color: #ffffff;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 62px;
    text-align: center;
}

.discount-item-button:hover {
    border: 1px solid #000000;
    text-decoration: none;
    color: #ffffff;
}

.footer {
    height: 71px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 71px;
    text-align: center;
}

.footer span {
    color: #f44336;
}