@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@font-face {
    font-family: Arial Narrow;
    /* Гарнитура шрифта */
    src: url(../fonts/ARIALN.TTF);
    /* Путь к файлу со шрифтом */
}

body {
    font-family: Poppins, sans-serif;
    background-color: #f7f7f7;
}

.container-fluid:nth-child(odd) {
    background-color: #fff;
}

.logo-line {
    height: 83px;
    background-color: #000000;
    opacity: 0.7;
    margin-top: 12px;
    padding-top: 19px;
    padding-bottom: 18px;
}

.logo p:first-child {
    color: #ffffff;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 29px;
    text-align: left;
    letter-spacing: 0.77px;
    margin-bottom: 5px;
}

.logo p:last-child {
    color: #ffffff;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 32px;
}

.phone-email {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22.36px;
    text-align: left;
    margin-bottom: 30px;
}

.phone-email img {
    margin-right: 14px;
}

.search {
    min-width: 249px;
}

.search input {
    background-color: transparent;
    border: 1px solid #fff;
    color: #ffffff;
    height: 38px;
    width: 157px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    float: left;
}

.search a {
    display: inline-block;
    width: 50px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #fff;
    border-left: none;
    text-align: center;
    float: left;
}

.menu {
    margin: 0 auto;
    max-width: 1170px;
    height: 78px;
    color: #000000;
}

.menu-item {
    list-style-type: none;
    float: left;
}

.menu-link {
    text-decoration: none;
    color: #000;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 400;
    line-height: 77px;
    text-align: center;
    display: block;
}

.menu+hr {
    border-bottom: 1px solid #fff;
    margin-top: -1px;
}

.menu-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.menu-item.active {
    border-bottom: 3px solid #fff;
}

.menu-item.active a {
    color: #ffffff;
    font-style: normal;
    letter-spacing: 0.34px;
}

.face-banner {
    background-image: url(../img/2.jpg);
    height: 725px;
    color: white;
    padding-top: 309px;
    margin-top: -193px;
}

.quot {
    margin: 0px auto;
    width: 580px;
    text-align: center;
}

.small-quot {
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    margin: 0px auto 16px;
}

.quot hr {
    width: 80px;
    border: 1px solid #fff;
    margin: 16px 250px 55px 250px;
}

.big-quot {
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin: 75px auto;
}

.social-container {
    height: 44px;
    margin: 75px auto;
}

.social-list {
    margin: 0px auto;
    width: 200px;
    height: 40px;
    padding: 0px;
}

.social-list-item {
    float: left;
    list-style: none;
    margin-right: 10px;
}

.social-item-link {
    display: inline-block;
    background-image: url(../img/f.svg);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
}


/* Content */

.content {
    position: relative;
}

.aboutus {
    width: 972px;
    height: 500px;
    margin: 0px auto;
    padding: 81px 0px;
}

.aboutus h1 {
    color: #f44336;
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-align: left;
}

.aboutus .text-block {
    float: left;
    color: #999999;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    width: 398px;
    margin-right: 33px;
}

.text-block p {
    margin-top: 35px;
}

.aboutus img {
    float: right;
}

.services {
    width: 100%;
    height: 762px;
    background-color: #f7f7f7;
    padding-top: 92px;
}

.services-table {
    width: 990px;
    margin: 92px auto 106px;
    border-spacing: 90px 73px;
    border: none;
}

.service-item {
    display: block;
    width: 450px;
    height: 105px;
}

.srv-itm-txt-blk-l {
    text-align: right;
    margin-right: 65px;
    width: 280px;
    display: inline-block;
}

.srv-itm-txt-blk-r {
    text-align: left;
    margin-left: 65px;
    width: 280px;
    display: inline-block;
}

.service-item h2 {
    color: #000000;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}

.service-item p {
    text-decoration: none;
    color: #999999;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.service-item div.img {
    background-color: #e1e1e1;
    border: 1px solid #acacac;
    border-radius: 50%;
    text-align: center;
    line-height: 102px;
    width: 102px;
    height: 102px;
    display: inline-block;
}

.services-table tr td:first-child div.img {
    float: right;
}

.services-table td {
    padding-bottom: 69px;
}

.services-table tr td:last-child div.img {
    float: left;
}

.service-item:hover h2 {
    color: #f44336;
}

.service-item:hover div.img {
    background-color: #f44336;
}

.gallery {
    padding-top: 92px;
    padding-bottom: 186px;
    height: 890px;
}

.gallery-item {
    height: 482px;
}

.gallery-item-name {
    color: #000000;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.gallery-button {
    color: #fff;
    display: block;
    width: 130px;
    height: 30px;
    background-color: #f44336;
    text-align: center;
    line-height: 30px;
    position: absolute;
    bottom: 13px;
    left: 70px;
}

.gallery-button:hover {
    outline: 2px solid #f99;
}

.gallery-button:active {
    color: #f44336;
    background-color: #ddd;
}

.testimonial {
    background-image: url(../img/testimonial.jpg);
    background-repeat: no-repeat;
    position: relative;
    padding: 0px 377px 98px;
}

.testimonial-name {
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    margin: 0px auto 90px;
    padding-top: 85px;
}

.testimonial img[alt=quot] {
    display: block;
    margin: 51px auto;
}

.testimonial-prev,
.testimonial-next {
    display: inline-block;
    width: 37px;
    height: 37px;
    opacity: 0.5;
    border: 1px solid #fff;
}

.testimonial-prev,
#testimonial-prev-sign {
    float: left;
}

.testimonial-next,
#testimonial-next-sign {
    float: right;
}

#testimonial-prev-sign,
#testimonial-next-sign {
    color: #fff;
    position: relative;
    left: -30px;
    font-family: "Font Awesome", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
}

.testimonial-text {
    width: 935px;
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    display: inline-block;
    position: relative;
    left: 50px;
}

.testimonial-author {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.news {
   /* height: 888px;*/
    padding-bottom: 96px;
    padding-top: 97px;
}

.latest h3 {
    color: #000000;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
}

.news-list-item {
    list-style-type: none;
    margin: 50px 0px;
}

.news-link {
    display: block;
}

.news-item-date {
    width: 96px;
    height: 137px;
    border-radius: 49px;
    border: 1px solid #e8e8e8;
    background-color: #f7f7f7;
    display: inline-block;
    color: #9e9e9e;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-right: 60px;
}

.news-item-date p {
    margin: 0px 32px;
}

.news-item-date p:first-child {
    margin: 32px 32px 0px;
}

.news-date-day {
    color: #000000;
    font-size: 32px;
    font-weight: 500;
}

.news-item-prev {
    display: inline-block;
    width: 308px;
}

.news-header {
    color: #f44336;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.news-anounce {
    color: #9e9e9e;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.featured h3 {
    color: #000000;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
}

.events-nav {
    float: right;
    color: #000000;
    font-family: Poppins, sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 48px;
    text-align: right;
}

.events-gallery {
    margin: 32px 0px 45px;
}

.events-gallery img {
    width: 33.333333333%;
    margin: -3px;
}

.events-list-item {
    list-style-type: none;
    width: 570px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    margin: 4px 0px;
}

.events-list-item div.event-text {
    display: none;
}

.events-list-item.active div.event-text {
    display: block;
    background-color: #f5f5f5;
    padding: 39px 23px 43px 13px;
}

.event-header {
    color: #000000;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
    text-align: left;
}

.ourteam {
    background-color: #f7f7f7;
    padding-top: 98px;
    padding-bottom: 79px;
}

.team-item-name {
    color: #f44336;
    font-family: Poppins, sans-serif;
    font-size: 21px;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    margin-top: 27px
}

.team-item-position {
    color: #838383;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    line-height: 12px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 17px
}

.team-item-socials a {
    border: 2px solid #000000;
    margin-right: 25px;
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
}

.subscribe {
    background-image: url(../img/subscribe_bg.jpg);
    background-repeat: no-repeat;
    height: 229px;
    padding: 86px 0px 0px;
    text-align: center;
    margin-bottom: 97px;
}

.subscribe p {
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
    /* margin-bottom: 53px; */
    text-align: center;
}

.subscribe input[type=text] {
        width: 485px;
    height: 55px;
    background-color: #ffffff;
    margin: 0 auto;
    font-size: 14px;
    padding: 5px;
    border: none;
}

.subscribe input[type=submit] {
    width: 119px;
    height: 53px;
    background-color: #f44336;
    color: #fff;
    font-size: 12px;
    line-height: 11px;
    border: none;
}

.subscribe input[type=submit]:hover {
    font-size: 18px;
}

.subscribe input[type=submit]:active {
    outline: 2px solid #f44336;
    background-color: #fff;
    color: #f44336;
}

h1 {
    color: #f44336;
    font-family: "Poppins - Semi Bold", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin-bottom: 90px;
}

#contacts{
    margin: 97px auto 96px;
}
#contacts p {
    color: #9e9e9e;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 17px;
    text-align: left;
}

.contacts-email span {
    color: #f44336;
}

#contacts input[type="text"] {
    width: 471px;
    height: 47px;
    border: 1px solid #000000;
    background-color: #fff;
    color: #8e8e8e;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
    margin-bottom: 24px;
    padding: 19px;
}

#contacts textarea {
    width: 471px;
    height: 138px;
    border: 1px solid #000000;
    background-color: #fff;
    color: #8e8e8e;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
    margin-bottom: 24px;
    padding: 19px;
}

input[type="submit"] {
    width: 140px;
    height: 39px;
    background-color: #f44336;
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}
.map {
    margin: 25px auto 90px;
    text-align: center;
}

.gotop{
    position: fixed;
    bottom: 112px;
    right: 54px;
    display: inline-block;
    width: 40px;
    height: 40px;
}

/* Footer */

.footer {
    height: 71px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 71px;
    text-align: center;
}

.footer span {
    color: #f44336;
}
